.about__container {
}
.about__card {
  margin: 40px 30px 80px 30px;
  width: 70%;
  background-color: #1c1d30;
  height: 70vh;
  position: relative;
}
.about__img {
  margin-bottom: 20px;
  position: absolute;
  width: 90%;
  object-fit: cover;
  height: 70vh;
  right: -38%;
  bottom: -10%;
  margin: auto 20px;
  z-index: 1;
}
.about__details {
  font-family: "poppins", sans-serif;
  color: #fff;
  margin: auto 30px;
  top: 50%;
  position: absolute;
}
.about__title {
  font-size: 35px;
  text-transform: capitalize;
}
.about__para {
  width: 40%;
}
